	div { 
		vertical-align:bottom;
		height: 110px;
		margin: 5px 0px 0px 0px;
	}
	div #selectBox {
		vertical-align: top;
		text-align: right;
	}
	.track {
		display: inline-block;
		width: 160px;
		height: 100px;
		background-color: skyblue;
	}
	
	canvas {
		width: 300px;
		height: 100px;
		background: #202020; 
		box-shadow: 0px 0px 10px blue;
		color: white;
		vertical-align: bottom;
	}
	#audioSource{
		width: 120px;
		vertical-align: bottom;
	} 
	img {
		vertical-align: bottom;
		text-align: center;
		background: none;
		width: 21px;
		height: 21px;
	}
	img#record {
		width: 21px;
		height: 21px;
	}
	img#save {
	}
	.plusImg {
		text-align: center;
		margin-left:auto;
		margin-right:auto;
	}
	select {
		text-align: bottom;
		vertical-align: bottom;
	}
	
