	header {
		background-color: black;
		color: white;
		font-family: 'Daum_SemiBold';
  		font-style: normal;
  		font-weight: normal;
  		src: local('Daum_SemiBold'), url('http://hooney.net/lib/font/Daum_SemiBold.ttf') format('truetype');
  		font-size: x-large;
	}
	
	div { 
		vertical-align:bottom;
		margin: 5px 0px 0px 0px;
	}
	
	.track {
		margin: 0px;
		border: 0px;
		padding: 0px;
		display: inline-block;
		width: 160px;
		height: 100px;
		background-color: silver;
		box-shadow: inset 0 0 5px blue;
	}
	
	canvas {
		margin: 0px;
		border: 0px;
		padding: 0px;
		width: 500px;
		height: 100px;
		background: silver; /*#202020; */
		box-shadow: inset 0 0 5px blue;
		color: white;
		vertical-align: bottom;
	}
	
	#audioSource{
		width: 120px;
		vertical-align: bottom;
	}
	
	img {
		vertical-align: bottom;
		text-align: center;
		background: none;
		width: 21px;
		height: 21px;
	}
	
	img#record {
		width: 21px;
		height: 21px;
	}
	
	img#save {
	}
	
	.plusImg {
		text-align: center;
		margin-left:auto;
		margin-right:auto;
	}
	
	select {
		text-align: bottom;
		vertical-align: bottom;
	}
	
	b { font-weight: bold; }

	.key { position: absolute; font-family: Helvetica; font-weight: 100; font-size: 12px;
		border: 1px solid rgba(32,32,32,0.2);
		border-radius: 0px 0px 5px 5px;
		cursor:pointer;
		box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
		-webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease; }
	
	.key:hover { background-color: rgb(255,192,32); }
		
	.key .label { position: absolute; bottom: 5px; text-align: center; left: 0px; right: 0px; }
	
	.black { background-color: rgb(32,32,32); color: #ffffff; z-index: 1; text-shadow: 0px -1px 1px rgba(255,255,255,0.5); }
	
	.white { background-color: #ffffff; color: rgb(32,32,32); z-index: 0; text-shadow: 0px 1px 1px rgba(32,32,32,0.5); }
	
	.title { text-shadow: 0px 1px 1px rgba(32,32,32,0.2); font-size: 40px; font-weight: bold; font-family: Helvetica; padding: 10px; text-align: center; }
	
	.keyboard-options { margin: 5px auto; width: auto; text-align: center; font-size: 12px; font-weight: 200; padding:10px; }
	
	.keyboard-holder { margin: 5px auto; height: 200px; position:relative; user-select:none; -webkit-user-select:none;-moz-user-select:none;-o-user-select:none; }
	
	.instrument { position: absolute; bottom: 15px;}
